%header.header
  %p 商品一覧
  %div.sub 〜気になる商品の詳細を確認しよう！〜
  = link_to "新たな商品を追加する", new_menu_path
.main
  - @menus.each do |menu|
    .main__content
      .main__content--name
        = link_to "#{menu.name}", menu_path(menu.id)
      .main__content--image
        = image_tag "#{menu.image.url}"
