.product
  .product__detail
    %h1
      = @menu.name
    .product__detail--image
      = image_tag "#{@menu.image.url}"
    .product__detail--box
      %table
        %tr
          %th 値段（税込み）
          %th カロリー
          %th タンパク質
          %th 脂質
          %th 糖質
        %tr
          %td= @menu.price
          %td= @menu.calorie
          %td= @menu.protein
          %td= @menu.fat
          %td= @menu.carbo
  .product__btn
    = link_to "商品一覧に戻る", menus_path
